{{ define "main" }}

<a class="td-offset-anchor"></a>
<div class="td-content">
	{{ .Content }}
</div>

<div class="row justify-content-center p-5">
  <div class="col-sm-6 py-3 pl-3 pr-0">
    <div class="card h-100 bg-transparent border-top-0 border-left-0 border-bottom-0">
      <div class="card-body">
        <p class="card-title h2">
          Lockval Engine Server
        </p>
        <p class="card-text py-3">
          The server supports running on linux
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 py-3 pl-0 pr-3">
    <div class="card h-100 bg-transparent border-right-0 border-top-0 border-bottom-0">
      <div class="card-body">
        <p class="card-text">
          Click <a href="https://downloads.lockval.com">here</a> to download the latest version or the specified version
        </p>
        <p class="card-text">
          View the server configuration manual see the
          <a href="/docs/introduce/configuration/">documentation</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center p-5 td-box--100">
  <div class="col-sm-6 py-3 pl-3 pr-0">
    <div class="card h-100 bg-transparent border-top-0 border-left-0 border-bottom-0">
      <div class="card-body">
        <p class="card-title h2">
          Lockval Engine Client
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 py-3 pl-0 pr-3">
    <div class="card h-100 bg-transparent border-right-0 border-top-0 border-bottom-0">
      <div class="card-body">
        <p class="card-text">
          Download:
        </p>

      </div>
    </div>
  </div>
</div>


<div class="row justify-content-left p-5 td-box--100">
  <div class="card border-0 w-100 bg-transparent">
    <div class="card-body">
      <h2 class="card-title">
        Source Code
      </h2>
      <p class="card-text w-lg-75">
        You can also find a list of the Lockval Engine source code at our
        <a href="https://github.com/lockval">GitHub repository</a>.
      </p>
    </div>
  </div>
</div>

{{ end }}
