+++
title = "Lockval Engine"
linkTitle = "Lockval Engine"
+++
{{< blocks/cover title="Explore Lockval Engine: A Free Game Backend Engine" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://apidemo.lockval.com/">
		Try the DEMO <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/lockval/apidemo">
		Build the DEMO <i class="fa fa-download"></i>
	</a>
	<p class="lead mt-5">A robust, distributed backend data engine designed to power the world of gaming.</p>
	<p class="lead mt-3">Simulate complex world rules effortlessly with Lockval Engine.</p>
</div>
{{< blocks/link-down color="info">}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Lockval Engine, tailored for game backends, seamlessly integrates various modules such as network gateways, data storage, logic script processing, and triggers, simplifying your workflow significantly.

Focus on **request handling**, **data retrieval**, **computation**, and **data updating**. Changes are automatically propagated to interface callers.
{{% /blocks/lead %}}

{{< blocks/section color="white" type="row">}}

{{% blocks/feature icon="fab fa-github" title="Support for Multiple Programming Languages" url="/docs/languages" %}}
Explore our extensive support for various scripting languages:

[**Lua (5.1)**](https://www.lua.org/manual/5.1/) - A lightweight, multi-paradigm programming language.

[**JavaScript (TypeScript)**](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide) - A versatile, just-in-time compiled language with first-class functions.

[**Python (Starlark)**](https://bazel.build/rules/language) - A dialect of Python designed for configurations.

[**Golang**](https://go.dev/doc/) - A statically typed language known for its simplicity and high performance.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-baby" title="Ease of Use" %}}
Experience our API through the playground:
- [JavaScript Playground](https://playground.lockval.com/?lang=JavaScript&code=09d2a95dfed947ee26767c79ef380adea780bd4e)
- [Python Playground](https://playground.lockval.com/?lang=Python&code=7fcbe4534a8ac3f3b7ca905b18dcf69c73293fd8)
- [Lua Playground](https://playground.lockval.com/?lang=Lua&code=5c1aefe6ba01870d7a9867b2388e10a9683bf021)

**Core APIs (only 8 in total):**
- Data operations simplified: `GetSubVal`, `GetSubValAll`, `GetAndLock`, `PutSubVal`, `PutAndUnlock`, `DiscardAndUnlock`
- Manage exceptions seamlessly: `Throw`
- Schedule tasks effectively: `Sleep`
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-braille" title="Module Overview" url="/docs/architecture" %}}
Learn more about the modules powering Lockval Engine:

**Gateway (gw)**: Manages data communication, sends API requests, and synchronizes database changes to callers.

**API Module (api)**: Processes requests using server-side scripts defined by the user.

**Database (db)**: Handles transactions like `GetAndLock` and `PutAndUnlock`, ensuring data integrity through locking mechanisms.

**Trigger System (trigger)**: Offers a range of triggers to execute scripts based on events such as timers, cron jobs, HTTP actions, or script uploads.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/lead >}}
<div class="col">
<h1 class="text-center">Why Choose Lockval Engine?</h1>
</div>
{{< /blocks/lead >}}

{{< blocks/section type="row">}}

{{% blocks/feature icon="fa fa-graduation-cap" title="Quick Learning Curve" url="/docs/learn" %}}
Lockval Engine is designed to be out-of-the-box. Simply download the [apidemo](https://github.com/lockval/apidemo) to start running the engine, and utilize the [online apidemo](https://apidemo.lockval.com) and [playground](https://playground.lockval.com) to quickly grasp API usage.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-keyboard" title="Rapid Development" url="/docs/build" %}}
Focus on core actions: **request**, **response**, **data retrieval**, **computation**, and **data storage** to efficiently develop complex business logic.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-desktop" title="Comprehensive Solution" url="/docs/architecture" %}}
With Lockval Engine, forget the hassle of choosing databases, designing protocols, or configuring triggers. Focus solely on data processing to fulfill all your developmental needs.
{{% /blocks/feature %}}

{{< /blocks/section >}}
